@import "fonts.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.design {
    background: url("../image/image.svg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.design:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0; left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.wrapper {
    max-width: 1200px;
    padding: 15px 0;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}

.design__item {
    display: flex;
    flex-direction: column;


}

.design__title {
    font-family: 'Raleway', sans-serif;
    Font-size: 36px;
    font-weight: normal;
    Line-height: 42px;
    Line-height: 100%;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    margin: 50px 0 40px 0;
}

.design__title:after {
    content: "";
    width: 170px;
    height: 1px;
    position: absolute;
    background-color: #FFFFFF;
    left: 50%;
    top: 76px;
    transform: translate(-50%, -50%);
}

.design__sub-title {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    font-weight: normal;
    margin: 40px 0 73px 0;
    text-align: center;

}

.design__button {
    text-align: center;
    margin-bottom: 50px;
}

.design__button button {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    Line-height: 100%;
    width: 370px;
    border: 2px solid rgba(255, 255, 255, 1);
    background: none;
    color: rgba(255, 255, 255, 1);
    padding: 18px 0;
    cursor: pointer;
}

.design__button button:hover {
    border: 2px solid rgba(236, 121, 121, 1);
    color: rgba(236, 121, 121, 1);
    transition: 0.3s;
}

.design__button button:active {
    border: 2px solid rgba(171, 73, 73, 1);
    color: rgba(255, 255, 255, 1);
    background: rgba(171, 73, 73, 1);
    transition: 0.3s;
}
